html {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Style the div squares inside the container, including the newly created squares */
.box, .newBox {
    width: 60px;
    height: 60px;
}

/* Style the flex container and align the boxes within, so they appear as a single grid */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1000px;
}

/* Button container */
.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

/* Resize button */
button {
    font-size: 14px;
    font-weight: 800;
    background-color: #ffffff;
    border: 2px #000000 solid;
    border-radius: 5px;
    width: 150px;
    height: 65px;
}

/* Resize button hover effects */
button:hover {
    background-color: #f2f2f2;
}



