html {
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
}

.box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 60px;
    height: 60px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1000px;
}

.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}




